<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebs.business.mapper.SendToListMapper">

    <resultMap type="SendToList" id="SendToListResult">
        <result property="sendToListId"    column="send_to_list_id"    />
        <result property="sendToListName"    column="send_to_list_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSendToListVo">
        select send_to_list_id, send_to_list_name, create_by, create_time, update_by, update_time from send_to_list
    </sql>

    <select id="selectSendToListList" parameterType="SendToList" resultMap="SendToListResult">
        <include refid="selectSendToListVo"/>
        <where>
            <if test="sendToListName != null  and sendToListName != ''">
             and send_to_list_name like concat('%', #{sendToListName}, '%')
            </if>
        </where>
    </select>

    <select id="selectSendToListBySendToListId" parameterType="Long" resultMap="SendToListResult">
        <include refid="selectSendToListVo"/>
        where send_to_list_id = #{sendToListId}
    </select>

    <insert id="insertSendToList" parameterType="SendToList" useGeneratedKeys="true" keyProperty="sendToListId">
        insert into send_to_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sendToListName != null and sendToListName != ''">send_to_list_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sendToListName != null and sendToListName != ''">#{sendToListName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSendToList" parameterType="SendToList">
        update send_to_list
        <trim prefix="SET" suffixOverrides=",">
            <if test="sendToListName != null and sendToListName != ''">send_to_list_name = #{sendToListName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where send_to_list_id = #{sendToListId}
    </update>

    <delete id="deleteSendToListBySendToListId" parameterType="Long">
        delete from send_to_list where send_to_list_id = #{sendToListId}
    </delete>

    <delete id="deleteSendToListBySendToListIds" parameterType="String">
        delete from send_to_list where send_to_list_id in
        <foreach item="sendToListId" collection="array" open="(" separator="," close=")">
            #{sendToListId}
        </foreach>
    </delete>
</mapper>
